
@{
    ViewData["Title"] = "Home Page";
}


<header class="myheader">
    <div class="headeritems">
        <h1>به فروشگاه ما خوش آمدید!</h1>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
            نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
            حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
            گیرد.
        </p>
    </div>
    <div class="headerItems">
        <img class="headImg" src="~/assets/img/_8e1959ca-6500-4974-b71c-e2405e9198c0.jpg" width="500px" height="450px" alt="diaycode header">
    </div>
</header>
<!-- books -->
@await Component.InvokeAsync("HomeBook", new { ShowHome = true, IsNew = false})

<h2 style="text-align : center">
    کتاب های جدید
</h2>

@await Component.InvokeAsync("HomeBook", new { ShowHome = true, IsNew=true })
@section Scripts {
    <script>

            // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

         async function OpenModal(id){
            console.log(id);
            modal.style.display = "block";
            var body = document.getElementById("modal-body")
            try {
                var response = await fetch("/Book/GetBook/" +id);
                if (response.ok) {
                    var res = await response.text();
                    body.innerHTML = res;
                }

            } catch {

            }


        }
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
           
            // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
            }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

    </script>
}

