html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.navbar {
    display: flex;
    justify-content: center;
}

    .navbar a {
        margin: 10px;
        font-size: 22px;
        color: black;
        cursor: pointer;
    }

        .navbar a:hover {
            color: purple;
        }

.mobilenav i {
    color: whitesmoke;
}



@media(max-width:600px) {
    .mobilenav {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }
}

